---
import type { GetStaticPaths } from 'astro'
import { getCollection } from 'astro:content'
import Base from '@layouts/base.astro'

import { config } from 'site.config'
import TranslatedBanner from '@components/TranslatedBanner.astro'

export async function getStaticPaths() {
  const entries = await getCollection('blog')
  return entries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<Base title={`${config.siteTitle} | ${entry.data.title}`}>
  <h1>{entry.data.title}</h1>
  <div class='flex items-center space-x-3'>
    <div class='italic text-accent-600 my-2'>
      <time>{new Date(entry.data.date).toISOString().split('T')[0]}</time>
    </div>
    {entry.data.isTranslated && <TranslatedBanner />}
  </div>
  <Content />
</Base>
