---
import { getCollection } from 'astro:content'
import Base from '@layouts/Base.astro'

import { config } from 'site.config'

export async function getStaticPaths() {
  const blogEntries = await getCollection('blog')
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

export const prerender = true

const { entry } = Astro.props
const { Content } = await entry.render()
---

<Base title=`${config.siteTitle} | ${entry.data.title}`>
  <h1>{entry.data.title}</h1>
  <div class='italic text-accent-600 my-2'>
    <time>{new Date(entry.data.date).toISOString().split('T')[0]}</time>
  </div>

  <Content />
</Base>
