@tailwind base;
@tailwind components;
@tailwind utilities;

/* global font */
@layer base {
  html {
    font-family: system-ui, sans-serif;
    background-color: #f7fafc;
  }
}

/* global styles */
h1 {
  @apply text-accent-700 font-bold text-xl;
  @apply my-10;
}

h2 {
  @apply text-accent-700 font-semibold text-xl;
  @apply my-5;
}

h2::before {
  content: '>>';
  @apply mr-2;
}

h3 {
  @apply text-accent-700 font-semibold text-xl;
  @apply my-5;
}

h3::before {
  content: '>>>';
  @apply mr-2;
}

p {
  @apply text-accent-900;
  @apply my-5;
}

body {
  @apply text-accent-900;
}

/* element specific styles */
a {
  @apply text-accent-700 underline;
}

a:hover {
  @apply bg-accent-200;
}

ul li::before {
  content: '•';
  @apply mr-2;
}

ol li p::before {
  content: counter(list-item) '.';
  @apply mr-2;
}

blockquote {
  @apply py-3 px-5;
  @apply border-l-2 rounded-md border-accent-200;
  @apply bg-accent-100;
}

pre {
  @apply py-3 px-5;
  @apply border-accent-200 border-2 rounded-md;
}