---
import { getCollection } from 'astro:content'
import Base from '@layouts/Base.astro'
import { config } from 'site.config'
import TranslatedBanner from '@components/TranslatedBanner.astro'

export async function getStaticPaths() {
  const pages = await getCollection('blog')

  const paths = pages.map((page) => {
    const [lang, ...slug] = page.slug.split('/')
    return { params: { lang, slug: slug.join('/') || undefined }, props: page }
  })

  return paths
}

const { lang, slug } = Astro.params
const page = Astro.props
const { Content } = await page.render()
---

<Base title={`${config.siteTitle} | ${page.data.title}`}>
  {page.data.isTranslated && <TranslatedBanner />}
  <h1>{page.data.title}</h1>
  <div class='italic text-accent-600 my-2'>
    <time>{new Date(page.data.date).toISOString().split('T')[0]}</time>
  </div>

  <Content />
</Base>
