---
const url = Astro.url;
---

<footer class="border-t-2 border-accent-600 flex items-center justify-between">
  <p>
    <a
      href="https://creativecommons.org/licenses/by-nc-nd/4.0/"
      class="text-accent-400"
    >
      CC BY-NC-ND 4.0</a
    >
    - 2024 © mintyfrankie
  </p>
  <!-- <LanguagePicker parentURL={url} /> -->
</footer>
