---
import { getLangFromUrl, useTranslations } from '@i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<div class='bg-accent-200 p-3 text-center'>
  <span>{t('TranslatedBanner')}</span>
</div>
