---
import "@fontsource-variable/roboto-mono";
import { ViewTransitions } from "astro:transitions";
import "../styles/global.css";

import Footer from "@components/Footer.astro";
import NavBar from "@components/NavBar.astro";

import { getLangFromUrl } from "@i18n/utils";

const { title } = Astro.props;
const { frontmatter } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const pageTitle = title ?? frontmatter.title ?? "Untitled";
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/signature.svg" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS Feed"
      href="rss.xml"
    />

    <ViewTransitions />
    <title>{pageTitle}</title>
  </head>
  <body class="mx-8 md:mx-48">
    <NavBar />
    <div class="min-h-screen">
      <slot />
    </div>
    <Footer />
  </body>
</html>
